.navBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    padding: 10px 2em;
    font-size: 1.5em;
    background-color: white;
    border-bottom: 2px solid black;
    gap: 1em;
}

.navBar a {
    color: var(--text-color);
}

.navBar button {
    color: var(--text-color);
    background-color: transparent;
    border: none;
}

@media (max-width: 500px) {
    .navBar {
        font-size: 1em;
    }
}

@media (max-width: 420px) {
    .navBar {
        font-size: 1em;
    }
}