.navBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 2em;
    padding: 10px 30px;
    font-size: 32px;
    background-color: white;
    border-bottom: 2px solid black;
}

.navBar a {
    color: var(--text-color);
}

@media (max-width: 500px) {
    .navBar {
        font-size: 24px;
    }
}

@media (max-width: 420px) {
    .navBar {
        font-size: 20px;
    }
}