.navBar {
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    min-height: 60px;
    background: linear-gradient(to right, rgb(97, 97, 150), rgb(198, 198, 223));
    padding: 10px 30px;
}

.navBar a {
    color: rgb(238, 236, 236);
    font-size: 2rem;
}