.navBar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 8vh;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
    padding: 10px 30px;
    border: 1px solid black;
}

.navBar a {
    color: var(--text-color);
    font-size: 2rem;
}