.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    gap: 2em;
}

.mainButton {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
}

.landingButtons {
    display: flex;
    gap: 1.5em;
}

@media (max-width: 600px) {
    .landing {
        margin: 1em;
    }

    .mainButton {
        width: 100%;
        height: 3.5rem;
        font-size: 1.2rem;
    }

    .landingButtons {
        flex-direction: column;
        gap: 1em;
    }

    h1 {
        font-size: 2.5rem;
    }
}