.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    gap: 2em;
}

.mainButton {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
}

.landingButtons {
    display: flex;
    gap: 1.5em;
}