.tabellone {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 4rem) calc(4rem + 16px) repeat(4, 4rem);
    gap: 5px;
    margin: 4em;
}

.tabellone .casella:nth-child(n+31):nth-child(-n+40),
.tabellone .casella:nth-child(n+61):nth-child(-n+70) {
    margin-top: 0.7em;
}

.tabellone .casella:nth-child(10n+6) {
    margin-left:16px;
}

.container {
    width: 100vw;
    min-height: 90vh;
    display: flex;
    align-items: start;
    justify-content: start;
}

.pesca {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12em;
    margin-right: 4em;
    width: 12em;
    height: 12em;
    border-radius: 50%;
    border: 2px solid black;
    background-color: var(--tertiary-color);
}

.pescaContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.pescato {
    font-size: 3em;
    font-weight: bold;
    color: var(--text-color);
}

@media (max-width: 1200px) {
    .tabellone {
        margin: 2em;
        grid-template-columns: repeat(5, 2rem) calc(2rem + 4px) repeat(4, 2rem);
        gap: 4px;
    }

    .tabellone .casella:nth-child(n+31):nth-child(-n+40),
    .tabellone .casella:nth-child(n+61):nth-child(-n+70) {
        margin-top: 0.5em;
    }

    .tabellone .casella:nth-child(10n+6) {
        margin-left:4px;
    }

    .pesca {
        margin-top: 0;
        margin-right: 0;
        width: 8em;
        height: 8em;
    }

    .pescato {
        font-size: 2em;
    }

    .pescaContainer {
        width: 14em;
    }

    .container {
        margin-top: 4em;
        justify-content: start;
        align-items: center;
        flex-direction: column-reverse;
    }
}