@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.modal {
    position: absolute;
    top: 10vh;
    min-width: 30vw;
    background: var(--tertiary-color);
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 6px 4px 2px;
    animation: fadeInUp 0.4s ease;
    padding: 12px;
    align-self: start;
    margin-left: 10vw;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
    

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: start;
    gap: 15px;
}