@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(40px);
  }
}

.modal {
    position: absolute;
    min-width: 12em;
    background: var(--background);
    border: 2px solid black;
    border-radius: 12px;
    box-shadow: 4px 2px 1px rgb(67, 65, 65);
    animation: fadeInUp 0.4s ease;
    padding: 12px;
    align-self: end;
    margin: 8em 8em 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 1200px) {
    .modal {
        align-self: center;
        margin: 8em 0;
    }
}

.closing {
    animation: fadeOut 0.4s ease forwards;
}
    

.buttons {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: start;
    gap: 15px;
}