.cartella {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid black;
}

.title {
    height: 1.5em;
    background: var(--tertiary-color);
    color: var(--text-color);
    font-size: 18px;
    font-weight: 600;
    padding: 0 0.8em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 2px solid black;
    border-bottom: none;
}

.casella {
    text-align: center;
    border: 1px solid black;
    padding: 0.3em 0.6em;
    font-size: 24px;
    font-weight: 500;
    border-radius: 0;
    background: var(--secondary-color);
    color: var(--text-color);
    transition: background 0.3s ease;
}

@media (max-width: 500px) {
    .casella {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    .casella {
        font-size: 14px;
    }
}

.cartella .casella:nth-child(19) {
    border-radius: 0px 0px 0px 9px;
}

.cartella .casella:nth-child(27) {
    border-radius: 0px 0px 9px 0px;
}

.vuota {
    background: var(--background);
}

.selezionata {
    background: var(--primary-color);
}