.cartella {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    border: 1px solid black;
}

.casella {
    text-align: center;
    border: 1px solid black;
    padding: 0.3em 0.6em;
    font-size: 24px;
    font-weight: 500;
    border-radius: 0;
    background: var(--secondary-color);
}

@media (max-width: 500px) {
    .casella {
        font-size: 16px;
    }
}

@media (max-width: 420px) {
    .casella {
        font-size: 14px;
    }
}

.cartella .casella:nth-child(1) {
    border-radius: 9px 0px 0px 0px;
}

.cartella .casella:nth-child(19) {
    border-radius: 0px 0px 0px 9px;
}

.cartella .casella:nth-child(9) {
    border-radius: 0px 9px 0px 0px;
}

.cartella .casella:nth-child(27) {
    border-radius: 0px 0px 9px 0px;
}

.vuota {
    background: var(--background);
}

.selezionata {
    background: var(--primary-color);
    color: var(--text-color);
}