.cartella {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    border: 3px solid black;
}

.casella {
    text-align: center;
    border: 1px solid black;
    padding: 14px 18px;
    font-size: 1.5em;
    font-weight: 500;
    border-radius: 0;
    background: rgb(244, 211, 139);
}

.cartella .casella:nth-child(1) {
    border-radius: 9px 0px 0px 0px;
}

.cartella .casella:nth-child(3) {
    border-radius: 0px 0px 0px 9px;
}

.cartella .casella:nth-child(25) {
    border-radius: 0px 9px 0px 0px;
}

.cartella .casella:nth-child(27) {
    border-radius: 0px 0px 9px 0px;
}

.vuota {
    background: rgb(174, 173, 171)
}

.selezionata {
    background: rgb(184, 238, 169)
}