.cartella {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 12px;
    border: 3px solid black;
    background: rgb(244, 211, 139)
}

.casella {
    text-align: center;
    border: 1px solid black;
    padding: 14px 18px;
    font-size: 1.5em;
    font-weight: 500;
}